:root {
  --gauge-bg: #141414;
  --gauge-0: #11c762;
  --gauge-1: #3abf4d;
  --gauge-2: #64b73a;
  --gauge-3: #8daf27;
  --gauge-4: #b5a714;
  --gauge-5: #dda001;
  --gauge-6: #e38301;
  --gauge-7: #ea6601;
  --gauge-8: #f04901;
  --gauge-9: #f62b01;
  --gauge-10: #fd0e01;

  --gauge-00: #12522e;
  --gauge-01: #204e27;
  --gauge-02: #2e4c20;
  --gauge-03: #3d491a;
  --gauge-04: #4b4614;
  --gauge-05: #594310;
  --gauge-06: #5b390f;
  --gauge-07: #5f2e0f;
  --gauge-08: #61250f;
  --gauge-09: #631c0f;
  --gauge-010: #65120f;

  --dynamic-colored-border-width: 7rem;
  --dynamic-colored-border-height: 7rem;
  --dynamic-colored-border-top: 11.5rem;
  --dynamic-colored-border-left: 11.5rem;
  --dynamic-colored-border-border: 0.3rem;
  --dynamic--colored-border-color: var(--gauge-0);
}

.container {
  width: 30rem;
  height: 30rem;
  margin: 5rem auto;
  position: relative;
  transition: all 0.4s;
}

/* Gauge colors and sizing */
.gauge {
  margin: auto;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--gauge-bg);
  transform: rotate(90deg);
  top: 10rem;
  left: 10rem;
}

.gauge.small {
  width: 10rem;
  height: 10rem;
  top: 10rem;
  left: 10rem;
}
.gauge.medium {
  width: 15rem;
  height: 15rem;
  top: 7.5rem;
  left: 7.5rem;
}

.gauge.large {
  width: 20rem;
  height: 20rem;
  top: 5rem;
  left: 5rem;
}

/* Center cover for gauge - background and sizing */

.center-hide {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 10.5rem;
  left: 10.5rem;
  background-color: var(--gauge-bg);
  border-radius: 50%;
  z-index: 2;
}

.center-hide.small {
  width: 9rem;
  height: 9rem;
  top: 10.5rem;
  left: 10.5rem;
}
.center-hide.medium {
  width: 14rem;
  height: 14rem;
  top: 8rem;
  left: 8rem;
}
.center-hide.large {
  width: 19rem;
  height: 19rem;
  position: absolute;
  top: 5.5rem;
  left: 5.5rem;
}

.colored-border {
  width: var(--dynamic-colored-border-width);
  height: var(--dynamic-colored-border-height);
  position: absolute;
  top: var(--dynamic-colored-border-top);
  left: var(--dynamic-colored-border-left);
  border: var(--dynamic-colored-border-border) solid
    var(--dynamic--colored-border-color);
  border-radius: 50%;
  z-index: 3;
}

/* Colors and structure of the gauge */
.piece {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(50% 50%, 105% 95%, 100% 100%, 75% 100%);
}

.piece:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
  border-radius: 50%;
  clip-path: polygon(50% 100%, 100% 0%, 100% 100%, 0% 100%);
}

.piece:nth-child(1) {
  transform: rotate(0deg);
}
/* .piece:nth-child(1):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(2) {
  transform: rotate(25.71deg);
}
/* .piece:nth-child(2):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(3) {
  transform: rotate(51.42deg);
}
/* .piece:nth-child(3):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(4) {
  transform: rotate(77.13deg);
}
/* .piece:nth-child(4):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(5) {
  transform: rotate(102.84deg);
}
/* .piece:nth-child(5):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(6) {
  transform: rotate(128.55deg);
}
.piece:nth-child(6):before {
  transform: rotate(25.71deg);
}

.piece:nth-child(7) {
  transform: rotate(154.26deg);
}
.piece:nth-child(7):before {
  transform: rotate(25.71deg);
}

.piece:nth-child(8) {
  transform: rotate(179.97deg);
}
/* .piece:nth-child(8):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(9) {
  transform: rotate(205.68deg);
}
/* .piece:nth-child(9):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(10) {
  transform: rotate(231.39deg);
}
/* .piece:nth-child(10):before {
  transform: rotate(25.71deg);
} */

.piece:nth-child(11) {
  transform: rotate(257.1deg);
}
/* .piece:nth-child(11):before {
  transform: rotate(25.71deg);
} */

/* .piece:nth-child(12) {
  transform: rotate(282.81deg);
}
.piece:nth-child(12):before {
  transform: rotate(25.71deg);
}

.piece:nth-child(13) {
  transform: rotate(308.52deg);
}
.piece:nth-child(13):before {
  transform: rotate(25.71deg);
}

.piece:nth-child(14) {
  transform: rotate(334.23deg);
}
.piece:nth-child(14):before {
  transform: rotate(25.71deg);
} */

.piece--0 {
  background-color: var(--gauge-0);
}
.piece--1 {
  background-color: var(--gauge-1);
}
.piece--2 {
  background-color: var(--gauge-2);
}
.piece--3 {
  background-color: var(--gauge-3);
}
.piece--4 {
  background-color: var(--gauge-4);
}
.piece--5 {
  background-color: var(--gauge-5);
}
.piece--6 {
  background-color: var(--gauge-6);
}
.piece--7 {
  background-color: var(--gauge-7);
}
.piece--8 {
  background-color: var(--gauge-8);
}
.piece--9 {
  background-color: var(--gauge-9);
}
.piece--10 {
  background-color: var(--gauge-10);
}
.piece--00 {
  background-color: var(--gauge-00);
}
.piece--01 {
  background-color: var(--gauge-01);
}
.piece--02 {
  background-color: var(--gauge-02);
}
.piece--03 {
  background-color: var(--gauge-03);
}
.piece--04 {
  background-color: var(--gauge-04);
}
.piece--05 {
  background-color: var(--gauge-05);
}
.piece--06 {
  background-color: var(--gauge-06);
}
.piece--07 {
  background-color: var(--gauge-07);
}
.piece--08 {
  background-color: var(--gauge-08);
}
.piece--09 {
  background-color: var(--gauge-09);
}
.piece--010 {
  background-color: var(--gauge-010);
}
